<%= form_with model: @rental_property, local: true do |form| %>
  <div>
    <%= form.label :name, "物件名" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :rent, "賃料" %>
    <%= form.text_field :rent %>
  </div>

  <div>
    <%= form.label :address, "住所" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :age, "築年数" %>
    <%= form.text_field :age %>
  </div>

  <div>
    <%= form.label :note, "備考" %>
    <%= form.text_area :note %>
  </div>

  <hr>

  <%= form.fields_for :nearest_stations do |station_fields| %>
    <div>
      <%= station_fields.label :line_name, "路線名" %>
      <%= station_fields.text_field :line_name %>
    </div>

    <div>
      <%= station_fields.label :station_name, "駅名" %>
      <%= station_fields.text_field :station_name %>
    </div>

    <div>
      <%= station_fields.label :minutes_walk, "徒歩分数" %>
      <%= station_fields.number_field :minutes_walk %>
    </div>

    <hr>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
