<p>
  <strong>物件名:</strong>
  <%= @rental_property.name %>
  </h1>
</p>

<p>
  <strong>賃料:</strong>
  <%= @rental_property.rent %>
  <span>円</span>
</p>

<p>
  <strong>住所:</strong>
  <%= @rental_property.address %>
</p>

<p>
  <strong>築年数:</strong>
  <%= @rental_property.age %>
  <span>年</span>
</p>

<p>
  <strong>備考:</strong>
  <%= @rental_property.note %>
</p>

<hr>

<p>
  <% @rental_property.nearest_stations.each_with_index do |station, index| %>
    <h3>最寄り駅<%= index + 1 %>:</h3>
    <p>
      路線名: <%= station.line_name %><br>
      駅名: <%= station.station_name %><br>
      徒歩分数: <%= station.minutes_walk %>分<br>
    </p>
  <% end %>
</p>


<p>
  <%= link_to '編集', edit_rental_property_path(@rental_property) %> |
  <%= link_to '戻る', rental_properties_path %>
</p>



